# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DATABASE=ptt-alert

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Server
PORT=8000
NODE_ENV=development

# Telegram
TELEGRAM_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_WEBHOOK_SECRET=
ADMIN_TELEGRAM_ID=
