# Dependencies
node_modules/
package-lock.json

# Build
dist/

# Test
coverage/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Claude Code / MCP
.claude/
.serena/

# DOC
todos/
plan/

# Docker volumes
pgdata/
redisdata/

/src/generated/prisma
